<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar alumno</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{../static/html/header.html}"></header>
<section CLASS="container">
    <h2>Editar Profesor</h2>

    <form method="post" th:action="@{/profesor/editar}">
        <div>
            <label for="id"></label>
            <input type="hidden" id="id" name="id" th:value="${atributoProfesor.id}">
        </div>

        <div>
            <label for="nombreAlumno" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombreAlumno" name="nombres"
                   th:value="${atributoProfesor.nombres}" required>
        </div>

        <div>
            <label for="Apellido1" class="form-label">Apellido paterno:</label>
            <input type="text" class="form-control" id="Apellido1" name="apellido1"
                   th:value="${atributoProfesor.apellido1}" required>
        </div>

        <div>
            <label for="Apellido2">Apellido materno:</label>
            <input type="text" class="form-control" id="Apellido2" name="apellido2"
                   th:value="${atributoProfesor.apellido2}" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>

</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>